.slide {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #555;
    // background-image: url('./../img/slider-bg/01.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%,
    ),
    linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(255, 255, 255, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%,
    ),
    url('./../img/slider-bg/01.jpg');

    // псевдоэлемент, сдвинуть титлы в середину
    &::before {
        content: '';
    }
}

.slide__header {}

.slide__tagline {}

.slide__title {}

.slide__location {}